body {
  background-color: #9bcabc;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #1c6e56;
  font-family: sans-serif;
  font-size: 40px;
}

h2 {
  margin: 0 0 6px;
  font-size: 24px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.date {
  opacity: 0.8;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed grey;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding: 16px;
}

footer a {
  color: #1c6e56;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #9bcabc;
  text-decoration: underline;
}
